<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Admin Dashboard</title>
    <link rel="icon" type="image/ico" href="/images/favicon.ico"/>
    <link rel="stylesheet" href="/vendors/angular-material.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/vendors/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/vendors/xeditable.css" media="screen" title="no title" charset="utf-8">
    <link href="/css/font-awesome-4.6.3/css/font-awesome.min.css" media="screen" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/css/style.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/css/admin.css" media="screen" title="no title" charset="utf-8">

  </head>
  <body ng-app="myApp">
    <header ng-include="'/views/partials/admin-header.html'"></header>

    <main id='adminMain' class="page-row page-row-expanded" ng-controller='adminViewController'>
      <ng-include src="activeTab.url"></ng-include>
    </main>

    <footer class="page-row" ng-include="'/views/partials/footer.html'"></footer>

    <!-- Vendor Scripts -->
    <script src="./vendors/angular.js" charset="utf-8"></script>
    <script src="./vendors/angular-animate.js" charset="utf-8"></script>
    <script src="./vendors/angular-aria.js" charset="utf-8"></script>
    <script src="./vendors/angular-material.js" charset="utf-8"></script>
    <script src="./vendors/xeditable.js" charset="utf-8"></script>
    <script src="./vendors/angular-messages.js" charset="utf-8"></script>
    <!-- End Vendors -->
    <script src="./scripts/admin.js" charset="utf-8"></script>
  </body>
</html>
