<div class="container">
  <div class="row">
    <div class="col-md-9">
      <h1>Application</h1>

      <!-- app progress tracker -->
      <div class="app-tracker">
        <ul class="nav nav-wizard">
        	<li class="active"><a href="#"><span class="badge badge-step">1</span> Contact & Department Info</a></li>
          <li><a href="#"><span class="badge badge-step">2</span> K9 & Handler Info</a></li>
          <li><a href="#"><span class="badge badge-step">3</span> Terms & Conditions</a></li>
        </ul>
      </div>


      <p>This application consists of 3 steps. Once you fill in your contact and department information, please proceed to the next step where you can add handler and K9 information.</p>


      <div class="" ng-controller="AppController" ui-view="header" autoscroll="true">
          <h2 class="form-header">Authorized Signer Information</h2>
          <form name="application" ng-submit="sendApplication()">
          <div class="form-bg">


        	  <div>
        	    <h1 class="md-title">Role</h1>
        	    <!-- <div layout="row">
          		  <md-input-container>
            		  <md-select ng-model="role" md-selected-text="getRole()" placeholder="Select a role">
            			  <md-option ng-value="role" ng-repeat="role in roles">{{role}}</md-option>
            		  </md-select>
          		  </md-input-container>
        	    </div> -->
              <div layout="row">
                <md-input-container style="margin-right: 10px;">
                  <label>Select a role</label>
                  <md-select ng-model="role">
                    <md-option ng-repeat="role in roles" value="{{role}}">{{role}}</md-option>
                  </md-select>
                </md-input-container>
              </div>
        	  </div>

            <div layout-gt-sm="row">
              <md-input-container class="md-block" flex-gt-sm>
          	    <label for="rank">Rank/Title</label>
          	    <input ng-model="rank" id="rank" type="text" name="rank" value="" required>
          	    <div ng-messages="application.rank.$error">
          		    <div ng-message="required">This is required.</div>
          	    </div>
          	  </md-input-container>
              <div flex="5" hide-xs hide-sm></div>
              <md-input-container class="md-block" flex-gt-sm>
                <label for="firstName">First Name</label>
                <input ng-model="firstName" id="firstName" type="text" name="firstName" value="" required>
                <div ng-messages="application.firstName.$error">
                  <div ng-message="required">This is required.</div>
                </div>
              </md-input-container>
              <div flex="5" hide-xs hide-sm></div>
              <md-input-container class="md-block" flex-gt-sm>
                <label for="lastName">Last Name</label>
                <input ng-model="lastName" id="lastName" type="text" name="lastName" value="" required>
                <div ng-messages="application.lastName.$error">
                  <div ng-message="required">This is required.</div>
                </div>
              </md-input-container>
            </div>

            <div layout-gt-sm="row">
              <md-input-container class="md-block" flex-gt-sm>
                <label for="primaryPhone">Primary Phone Number</label>
                <input ng-model="primaryPhone" id="primaryPhone" type="text" name="primaryPhone" value="" required>
                <div ng-messages="application.primaryPhone.$error">
                  <div ng-message="required">This is required.</div>
                </div>
              </md-input-container>
              <div flex="5" hide-xs hide-sm></div>
              <md-input-container class="md-block" flex-gt-sm>
                <label for="altCell">Alt Phone Number</label>
                <input ng-model="altPhone" id="altCell" type="text" name="altPhone" value="">
              </md-input-container>
              <div flex="5" hide-xs hide-sm></div>
              <md-input-container class="md-block" flex-gt-sm>
                <label for="contactEmail">Email Address</label>
                <input ng-model="contactEmail" id="contactEmail" type="text" name="contactEmail" value="" required>
                <div ng-messages="application.contactEmail.$error">
                  <div ng-message="required">This is required.</div>
                </div>
              </md-input-container>
            </div>

        	  <div>
        	    <h1 class="md-title">Best time of day to contact</h1>
              <div layout="row">
                <md-input-container style="margin-right: 10px;">
                  <label>Select a time</label>
                  <md-select ng-model="time">
                    <md-option ng-repeat="time in times" value="{{time}}">{{time}}</md-option>
                  </md-select>
                </md-input-container>
              </div>
        	  </div>
          </div>
        </div>

        <h2 class="form-header">Department Information</h2>
        <div class="form-bg">


          <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
              <label for="address1">Department Address - Street 1</label>
              <input ng-model="address1" id="address1" type="text" name="address1" value="" required>
              <div ng-messages="application.address1.$error">
                <div ng-message="required">This is required.</div>
              </div>
            </md-input-container>
            <div flex="5" hide-xs hide-sm></div>
            <md-input-container class="md-block" flex-gt-sm>
              <label for="address2">Department Address - Street 2</label>
              <input ng-model="address2" id="address2" type="text" name="name" value="">
            </md-input-container>
            <div flex="5" hide-xs hide-sm></div>
            <md-input-container class="md-block" flex-gt-sm>
              <label for="city">Department Address - City</label>
              <input ng-model="city" id="city" type="text" name="city" value="" required>
              <div ng-messages="application.city.$error">
                <div ng-message="required">This is required.</div>
              </div>
            </md-input-container>
          </div>

          <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
              <label for="state">Department Address - State</label>
              <input ng-model="state" id="state" type="text" name="state" value="" required>
              <div ng-messages="application.state.$error">
                <div ng-message="required">This is required.</div>
              </div>
            </md-input-container>
            <div flex="5" hide-xs hide-sm></div>
            <md-input-container class="md-block" flex-gt-sm>
              <label for="zip">Department Address - Zip Code</label>
        	    <input ng-model="zip" id="zip" type="text" name="zip" value="" required>
        	    <div ng-messages="application.zip.$error">
        		    <div ng-message="required">This is required.</div>
        	    </div>
            </md-input-container>
            <div flex="5" hide-xs hide-sm></div>
            <md-input-container class="md-block" flex-gt-sm>
        	    <label for="numberOfDogs">Number of K9s in Unit</label>
        	    <input ng-model="numberOfDogs" id="numberOfDogs" type="text" name="numberOfDogs" value="" required>
              <div ng-messages="application.numberOfDogs.$error">
                <div ng-message="required">This is required.</div>
              </div>
        	  </md-input-container>
          </div>
        <md-button class="md-primary md-raised" type="submit">Next</md-button>
      </form>

      </div>
    </div>
    <div class="col-md-3">
      <div><img style="margin-bottom:5px;" class="img-responsive" src="/images/inquiry3.jpg"></div>
      <div><img style="margin-bottom:5px;" class="img-responsive" src="/images/inquiry3.jpg"></div>
      <div><img style="margin-bottom:5px;" class="img-responsive" src="/images/inquiry3.jpg"></div>
    </div>
  </div>
</div>
