<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Hero K9 | Login</title>
    <link rel="stylesheet" href="/vendors/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/vendors/angular-material.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/css/index.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/css/style.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/css/login.css" media="screen" title="no title" charset="utf-8">
    <script src="/vendors/angular.js" charset="utf-8"></script>
    <script src="/vendors/angular-route.min.js" charset="utf-8"></script>
    <script src="/vendors/angular-material.js" charset="utf-8"></script>
    <script src="/vendors/angular-aria.js" charset="utf-8"></script>
    <script src="/vendors/angular-animate.js" charset="utf-8"></script>
    <script src="/vendors/angular-messages.js"></script>
    <script src="/vendors/ng-file-upload.min.js"></script>
    <script src="/vendors/ng-file-upload-shim.min.js"></script>
    <script src="/vendors/ui-bootstrap-tpls.js" charset="utf-8"></script>
    <script src="/vendors/ui-bootstrap.js" charset="utf-8"></script>
    <script src="/scripts/script.js" charset="utf-8"></script>
  </head>
<body id="login-style" ng-app="myApp">
    <div class="container">
      <div class="info">
      </div>
    </div>
    <div class="login-form" ng-controller="loginController">
      <div class="login-logo"><img src="/images/herok9.svg"/></div>
      <md-content flex layout-padding>
      <h4>The username or password you entered is incorrect</h4>
      <div class="message">
        <a href="/login">Back to login</a>
      </div>
    </md-content>
    </div>


  </body>
</html>
