<div class="jumbotron hometron">
  <div class="container">
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3 home-col">
      <h1 style="margin-top:0;">PROUDLY <br>SERVING</h1>
      <div class="agencies"><img src="images/herok9-colors.svg"></div>
    </div>
    <div class="col-md-3 home-col">
      <p>Hero K9 is a national 501(c)(3) organization dedicated to protecting our nation by providing funding to the Public Safety community for the purchase of K9s, training, and necessary equipment.</p>
    </div>
    <div class="col-md-3 home-col">
      <p>Public Safety agencies include law enforcement, search and rescue, and fire. Our equipment grants help to ensure that officers and handlers are able to provide the best life for their K9.</p>
    </div>
    <div class="col-md-3 home-col">
    </div>
  </div>
</div>
