<div class="jumbotron hometron">
  <div class="container">
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3 home-col">
      <h3>ABOUT</h3>
      <p>Dragging turtle water dog collar dog slobber Buddy right paw kibble warm vaccination fur tail.</p>
    </div>
    <div class="col-md-3 home-col">
      <h3>DONATE</h3>
      <p>Puppy kitty ipsum dolor sit good dog cage house train stripes litter box run fast feathers.</p>
    </div>
    <div class="col-md-3 home-col">
      <h3>APPLY</h3>
      <p>Aquarium food wet nose play catch scratch pet supplies paws bird polydactyl vitamins lol.</p>
    </div>
    <div class="col-md-3 home-col">
      <h3>SUBSCRIBE</h3>
      <p>Pet Supplies vaccination water dog gimme five biscuit nest kitty treats left paw pet lazy cat toys. </p>
    </div>
  </div>
</div>
