<!-- <div class="input-group">
  <span class="input-group-addon" id="rankTitle">Rank/Title</span>
  <input type="text" class="form-control" aria-describedby="rankTitle">
</div> -->
<!-- Hidden until triggered by script -->
<!-- <div class="alert alert-danger" role="alert" id="rankTitleAlert">This is a required field!</div>


<div class="input-group">
  <span class="input-group-addon" id="firstName">First Name</span>
  <input type="text" class="form-control" aria-describedby="firstName">
</div> -->
<!-- Hidden until triggered by script -->
<!-- <div class="alert alert-danger" role="alert" id="firstNameAlert">This is a required field!</div>

<div class="input-group">
  <span class="input-group-addon" id="lastName">Last Name</span>
  <input type="text" class="form-control" aria-describedby="lastName">
</div>
Hidden until triggered by script
<! <div class="alert alert-danger" role="alert" id="lastNameAlert">This is a required field!</div>

<div class="input-group">
  <span class="input-group-addon" id="phoneNumber">Phone Number</span>
  <input type="text" class="form-control" placeholder="ex: (987)654-3210" aria-describedby="phoneNumber">
</div> -->
<!-- Hidden until triggered by script -->
<!-- <div class="alert alert-danger" role="alert" id="phoneNumberAlert">This is a required field!</div>

<div class="input-group">
  <span class="input-group-addon" id="altPhone">Additional Phone Number</span>
  <input type="text" class="form-control" placeholder="ex: (987)654-3210" aria-describedby="altPhone">
</div>

<div class="input-group">
  <span class="input-group-addon" id="email">E-mail</span>
  <input type="text" class="form-control" aria-describedby="email">
</div> -->
<!-- Hidden until triggered by script -->
<!-- <div class="alert alert-danger" role="alert" id="emailAlert">This is a required field!</div>

<div class="input-group">
  <span class="input-group-addon" id="contactTime">Best time of day for contact</span>
  <input type="text" class="form-control" placeholder="ex: 1:30PM or 'Anytime after noon'" aria-describedby="contactTime">
</div> -->
<!-- Hidden until triggered by script -->
<!-- <div class="alert alert-danger" role="alert" id="contactTimeAlert">This is a required field!</div>

<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="roleMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Role
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li>K9 Handler</li>
    <li>K9 Unit Supervisor</li>
    <li>Department Admin</li>
    <li>Other Admin Staff</li>
    <li>Other Command Staff</li>
  </ul>
</div>

<h3>Department Address:</h3>
<div class="input-group">
  <span class="input-group-addon" id="streetInfo">Street</span>
  <input type="text" class="form-control" aria-describedby="streetInfo">
</div>

<div class="input-group">
  <span class="input-group-addon" id="streetInfo2">Alternative Street</span>
  <input type="text" class="form-control" placeholder="Optional" aria-describedby="streetInfo2">
</div>

<div class="input-group">
  <span class="input-group-addon" id="cityInfo">City</span>
  <input type="text" class="form-control" aria-describedby="cityInfo">
</div> -->
<!-- Hidden until triggered by script -->
<!-- <div class="alert alert-danger" role="alert" id="deptAddressAlert">Please enter in all the required information!</div> -->

<h1>Inquiry</h1>
<p>Thank you for caring about the safety and well-being of our K9s in uniform. To complete your inquiry about obtaining equipment for a K9 or public agency department, please answer the following question.</p>
<p>Are you authorized to make this request and sign a binding, legal agreement on behalf of a public agency department?</p>
<form>
  <input ng-model="authorizedIn" type="radio" name="yes" value="yes">Yes
  <input ng-model="authorizedIn" type="radio" name="no" value="no">No
</form>

<div class="">
  <form >
    
  </form>
</div>
