<div class="container" ng-controller="UserDashController">
	<h1 class="text-center">Welcome {{ username }}!</h1>
	<h1>Check back at any time to view your status.</h1>

	<div class="checkout-wrap">
		<ul class="checkout-bar">
			<! -- To test add 'active' class and 'visited' class to different li elements -->
			<li ng-repeat='stat in userStatus' class="{{stat.status}}">{{stat.name}}</li>
		</ul>
	</div>

				<md-input-container>
			        <label>Dog</label>
			        <md-select ng-model="selectedDog" ng-model-options="{trackBy: '$value.id'}" ng-change="updateForm()">
			          <md-option ng-repeat="dog in dogList" ng-value="dog">
			            {{dog.k9_name}}
			          </md-option>
			        </md-select>
			      </md-input-container>

			      <div>
			        <h1>Handler/K9 Form</h1>
            		  <form name="k9form" ng-controller="UserDashController" ng-submit ="sendK9App(); submitForm();">
			        <div class="handler-row">
			          <div>
			            <h2>Handler Information</h2>
			          </div>
			          <div layout-gt-sm="row">
			            <md-input-container class="md-block" flex-gt-sm>
			              <label for="handlerTitle">Title/Rank</label>
			              <input id="handlerTitle" ng-model="handlerTitle" name="handlerTitle" required>
			              <div ng-messages="k9form.handlerTitle.$error">
			                <div ng-message="required">This is required.</div>
			              </div>
			            </md-input-container>
			          </div>
			          <div layout-gt-sm="row">
			            <md-input-container class="md-block" flex-gt-sm>
			              <label for="handlerFirstName">First Name</label>
			              <input id="handlerFirstName" ng-model="handlerFirstName" name="handlerFirstName" required>
			              <div ng-messages="k9form.handlerFirstName.$error">
			                <div ng-message="required">This is required.</div>
			              </div>
			            </md-input-container>
			            <div flex="5" hide-xs hide-sm></div>
			            <md-input-container class="md-block" flex-gt-sm>
			              <label for="handlerLastName">Last Name</label>
			              <input id="handlerLastName" ng-model="handlerLastName" name="handlerLastName" required>
			              <div ng-messages="k9form.handlerLastName.$error">
			                <div ng-message="required">This is required.</div>
			              </div>
			            </md-input-container>
			          </div>
			          <div layout-gt-sm="row">
			            <md-input-container class="md-block" flex-gt-sm>
			              <label for="handlerBadge">Badge #</label>
			              <input id="handlerBadge" ng-model="handlerBadge" name="handlerBadge" required>
			              <div ng-messages="k9form.handlerBadge.$error">
			                <div ng-message="required">This is required.</div>
			              </div>
			            </md-input-container>
			            <div flex="5" hide-xs hide-sm></div>
			            <md-input-container class="md-block" flex-gt-sm>
			              <label for="handlerCell">Cell Phone</label>
			              <input id="handlerCell" ng-model="handlerCell" name="handlerCell" required>
			              <div ng-messages="k9form.handlerCell.$error">
			                <div ng-message="required">This is required.</div>
			              </div>
			            </md-input-container>
			          </div>
			          <div layout-gt-sm="row">
			            <md-input-container class="md-block" flex-gt-sm>
			              <label for="handlerPhone">Secondary Phone</label>
			              <input id="handlerPhone" ng-model="handlerPhone" name="handlerPhone" required>
			              <div ng-messages="k9form.handlerPhone.$error">
			                <div ng-message="required">This is required.</div>
			              </div>
			            </md-input-container>
			            <div flex="5" hide-xs hide-sm></div>
			            <md-input-container class="md-block" flex-gt-sm>
			              <label for="handlerEmail">Email</label>
			              <input id="handlerEmail" ng-model="handlerEmail" name="handlerEmail" required>
			              <div ng-messages="k9form.handlerEmail.$error">
			                <div ng-message="required">This is required.</div>
			              </div>
			            </md-input-container>
			          </div>
			        </div>

			        <div layout="column" ng-cloak class="md-inline-form">
			          <md-content>
			              <div class="handler-row">
			                <h2>{{dog_name}}</h2>
			                <div layout-gt-sm="row">

			                  <div flex="5" hide-xs hide-sm></div>
			                  <md-input-container class="md-block" flex-gt-sm>
			                    <label for="k9Age">Age</label>
			                    <input id="k9Age" ng-model="k9Age" name="k9Age" required>
			                    <div ng-messages="k9form.k9Age.$error">
			                      <div ng-message="required">This is required.</div>
			                    </div>
			                  </md-input-container>
			                </div>
			                <div>
						    <md-input-container class="md-block" flex-gt-sm>
		    			              <label for="breed">Breed</label>
		    			              <input id="breed" ng-model="breed" name="breed" required>
		    			              <div ng-messages="k9form.breed.$error">
		    			                <div ng-message="required">This is required.</div>
		    			              </div>
		    			            </md-input-container>
			                </div>
			                <div layout-gt-sm="row">
			                  <md-radio-group ng-model="k9Cert" class="md-primary">
			                    <label for="k9Cert">Is this K9 currently certified or in the process of obtaining certification in any of the following areas: Explosives, Narcotics, Patrol, Tracking/Trailing, etc.</label><br>
			                    <md-radio-button value="Yes">Yes</md-radio-button>
			                    <md-radio-button value="No">No</md-radio-button>
			                  </md-radio-group>
			                </div>
			                <div layout-gt-sm="row">
			                  <md-radio-group ng-model="k9Active" class="md-primary">
			                    <label for="k9Active">Is this K9 currently on active duty with the department?</label><br>
			                    <md-radio-button value="Yes">Yes</md-radio-button>
			                    <md-radio-button value="No">No</md-radio-button>
			                  </md-radio-group>
			                </div>
			                <div layout-gt-sm="row">
			                  <md-radio-group ng-model="k9Retire" class="md-primary">
			                    <label for="k9Retire">Is this K9 scheduled for retirement within the next year?</label><br>
			                    <md-radio-button value="Yes">Yes</md-radio-button>
			                    <md-radio-button value="No">No</md-radio-button>
			                  </md-radio-group>
			                </div>
			              </div>

			        <p>Please complete all of the fields below to ensure the proper fit of the equipment provided to your agency or department for your K9. If you don’t have all of the information with you at this time, you will be able to save your progress and return to this form to finish entering the necessary information.</p>

			              <div layout-gt-xs="row" class="handler-row">
			                <md-input-container class="md-block" flex-gt-xs>
			                  <h1 class="md-title">Certification Types (Check all that apply)</h1>
			                  <fieldset>
			                    <div ng-repeat='cert in certList track by $index' >
			                      <md-checkbox id="cert{{$index}}" class="md-primary" aria-label="{{cert.name}}">
			                      {{cert.name}}
			                      </md-checkbox><br>
			                    </div>

			                    <!-- <div ng-repeat= 'equipment in equipmentList track by $index' flex-xs flex="50">
			                      <md-checkbox id="equipment{{$index}}" class="equipment md-primary" aria-label="{{equipment.name}}">
			                        {{equipment.name}}
			                      </md-checkbox><br>
			                    </div> -->




			                  </fieldset>
			                  <label for="otherCert">Other</label>
			                  <input id="otherCert" ng-model="otherCert" name="otherCert">
			                </md-input-container>
			                <md-input-container class="md-block" flex-gt-xs>
			                  <h1 class="md-title">Upload Certifications (PDF)</h1>
			                    <div ng-controller="PDFController">
			                      <div ngf-select ng-model="file" name="file" ngf-pattern="'application/pdf'" ngf-accept="'application/pdf'" ngf-max-size="20MB" ngf-min-height="100" ngf-resize="{width: 800, height: 800}">
			                        <md-button class="md-primary md-raised">Select</md-button>
			                        <p>File Selected: {{ file.name }}</p>
			                      </div>
			                      <md-button class="md-primary md-raised" type="submit" ng-click="submitPdf()">Upload</md-button>
			                    </div>
			                </md-input-container>
			              </div>
			              <div layout-gt-xs="row" class="handler-row">
			                <md-input-container class="md-block">
			                  <h1 class="md-title">Upload Photos</h1>
			                  <p>Instructions: 2 Photos Max, Max Size, File Types (PNG or JPG), Quality must not be blurry and needs to have good lighting, Must be face shot, Photo can be of on or off duty.</p>
			                    <div ng-controller="ImgController">
			                      <div ngf-select ng-model="file" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100" ngf-resize="{width: 800, height: 800}">
			                        <md-button class="md-primary md-raised">Select</md-button>
			                        <p>File Selected: {{ file.name }}</p>
			                      </div>
			                      <md-button class="md-primary md-raised" type="submit" ng-click="submitImg()">Upload</md-button>
			                    </div>
			                </md-input-container>
			              </div>
			              <div layout-gt-xs="row" class="handler-row">
			                <md-input-container class="md-block" flex-gt-xs>
			                  <label class="md-subhead" for="k9Bio">K9 Biography/Personality Profile</label>
			                  <textarea id="k9Bio" ng-model="k9Bio" md-maxlength="150" rows="5" md-select-on-focus></textarea>
			                </md-input-container>
			              </div>
			              <div class="handler-row">
			                <div>
			                  <h1 class="md-title">Ballistic Vest or Multi-Threat Vest</h1>
			                  <p>If applying for Ballistic Vest or Multi-Threat Vest, provide K9 measurements and customization requests.</p>
			                </div>
			                <div layout-gt-sm="row">
			                  <md-input-container class="md-block" flex-gt-sm>
			                    <label>Back (inches)</label>
			                    <input ng-model="k9Back" md-maxlength="2" name="k9Back"/>
			                  </md-input-container>
			                  <div flex="5" hide-xs hide-sm></div>
			                  <md-input-container class="md-block" flex-gt-sm>
			                    <label>Chest (inches)</label>
			                    <input ng-model="k9Chest" md-maxlength="2" name="k9Chest"/>
			                  </md-input-container>
			                </div>
			                <div layout-gt-sm="row">
			                  <md-input-container class="md-block" flex-gt-sm>
			                    <label>Girth (inches)</label>
			                    <input ng-model="k9Girth" md-maxlength="2" name="k9Girth"/>
			                  </md-input-container>
			                  <div flex="5" hide-xs hide-sm></div>
			                  <md-input-container class="md-block" flex-gt-sm>
			                    <label>Inner Front Leg To Inner Hind Leg (inches)</label>
			                    <input ng-model="k9Undercarriage" md-maxlength="2" name="k9Undercarriage"/>
			                  </md-input-container>
			                </div>
			                <div layout-gt-sm="row">
			                  <md-input-container class="md-block" flex-gt-sm>
			                    <h2 class="md-subhead">Select a Vest Color</h2>
			                    <md-select ng-model="vestColor" md-selected-text="getVestColor()" placeholder="Select a vest color">
			                        <md-option ng-value="color" ng-repeat="color in colors">{{ color }}</md-option>
			                    </md-select>
			                  </md-input-container>
			                  <div flex="5" hide-xs hide-sm></div>
			                  <md-input-container class="md-block" flex-gt-sm>
			                    <h2 class="md-subhead">Select a Vest Imprint</h2>
			                    <md-select ng-model="vestImprint" md-selected-text="getVestImprint()" placeholder="Select vest imprint">
			                      <md-option ng-value="imprint" ng-repeat="imprint in imprints">{{ imprint }}</md-option>
			                    </md-select>
			                  </md-input-container>
			                </div>
			                <div layout-gt-sm="row">
			                  <md-input-container class="md-block">
			                    <h2 class="md-subhead">Select a Vest Imprint Color</h2>
			                    <md-select ng-model="vestImprintColor" md-selected-text="getImprintColor()" placeholder="Select a vest imprint color">
			                      <md-option ng-value="imprintColor" ng-repeat="imprintColor in imprintColors">{{ imprintColor }}</md-option>
			                    </md-select>
			                  </md-input-container>
			                </div>
			              </div>
			              <div class="handler-row">
			                <div>
			                  <h1 class="md-title">In-Squad Kennel and/or Door Pop/Heat Alarm Unit</h1>
			                  <p>If applying for In-Squad Kennel and/or Door Pop/Heat Alarm Unit, provide Squad information and photos.</p>
			                </div>
			                <div layout-gt-sm="row">
			                  <md-input-container class="md-block" flex-gt-sm>
			                    <label>Squad Vehicle Make</label>
			                    <input ng-model="squadMake" name="squadMake"/>
			                  </md-input-container>
			                  <div flex="5" hide-xs hide-sm></div>
			                  <md-input-container class="md-block" flex-gt-sm>
			                    <label>Squad Vehicle Model</label>
			                    <input ng-model="squadModel" name="squadModel"/>
			                  </md-input-container>
			                </div>
			                <div layout-gt-sm="row">
			                  <md-input-container class="md-block" flex-gt-sm>
			                    <label>Squad Vehicle Year</label>
			                    <input ng-model="squadYear" name="squadYear"/>
			                  </md-input-container>
			                </div>
			                <md-radio-group ng-model="squadRetire" class="md-primary">
			                  <p>Is Squad Vehicle scheduled for retirement in the next year?</p>
			                  <md-radio-button value="Yes">Yes</md-radio-button>
			                  <md-radio-button value="No">No</md-radio-button>
			                </md-radio-group>

			                <md-input-container class="md-block">
			                  <h1 class="md-title">Upload Squad Vehicle Photos</h1>
			                  <p>Instructions: 2 Photos Max, Max Size, File Types (PNG or JPG), Quality must not be blurry and needs to have good lighting, Must be face shot, Photo can be of on or off duty.</p>
			                    <div ng-controller="SquadImgController">
			                      <div ngf-select ng-model="file" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100" ngf-resize="{width: 800, height: 800}">
			                        <md-button class="md-primary md-raised">Select</md-button>
			                        <p>File Selected: {{ file.name }}</p>
			                      </div>
			                      <md-button class="md-primary md-raised" type="submit" ng-click="submitSquadImg()">Upload</md-button>
			                    </div>
			                </md-input-container>
			              </div>
						  <md-button ng-click="saveForm();" class="md-primary md-raised">Save</md-button>
	  			            <md-button class="md-primary md-raised" type="submit" name="button">Submit</md-button>
			            </form>

			          </md-content>
			        </div>
			      </div>
			</div>
