html, body {
  /*position: relative;*/
  height: 100%;
  background-color: #fff;
  font-family: 'robotolight', Helvetica, Arial, sans-serif;
}

button, input, select, textarea {
  font-family: 'robotolight', Helvetica, Arial, sans-serif;
}

@font-face {
    font-family: 'robotolight';
    src: url('fonts/Roboto-Light-webfont.eot');
    src: url('fonts/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-Light-webfont.woff') format('woff'),
         url('fonts/Roboto-Light-webfont.ttf') format('truetype'),
         url('fonts/Roboto-Light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: 'robotolight', Helvetica, Arial, sans-serif;
  display: table;
  width: 100%;
}

.agencies {
  width: 154px;
}

md-content.md-default-theme, md-content {
    background-color: #fff;
}

md-card {
  display: inline-block;
  width: 33%;
  margin-left: 10%;
  margin-right: 10%;
}

md-card:last-child {
  margin-left: 0px;
}

.infoItem:hover {
  background-color: #ececec;
}
.equipment , .equipment:last-of-type{
  margin-left: 13px;
}
#test{
  margin-left: 13px;
}


#adminMain {
  margin: 20px;
}

.confirm{
  color: red;
  font-size: 12px;
}

/* home layout */
.hometron {
  position: relative;
  background-color: #e3e3e3;
  /*background: #fff url("/images/k9Placeholder.jpg") center center;*/
  width: 100%;
  height: 100%;
  background-size: cover;
  overflow: hidden;
  padding: 12% 0;
  margin-bottom: 0;
}

.home-col {
  margin-top: 40px;
}

/* user header social media links and login */
.login-nav {
  background-color: #000;
  border-radius: 0px;
}

.logo {
  width: 20%;
}

.login-right {
  float: right;
}

.mission-statement p {
  text-transform: uppercase;
  float: right;
}

.main-nav {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  height: 30%;
  margin: 20px 0;
  text-transform: uppercase;
}

.main-nav ul li a {
  color: #000;
  padding: 7px 30px;
}

.fa {
  color: #fff;
  padding: 14px 5px;
  font-size: 20px;
}

.navbar-inverse .navbar-nav>li>a {
  color: #fff;
  font-weight: bold;
}

.navbar-inverse .navbar-nav>li>a:hover {
  color: #ebebeb;
}

.nav>li>a:hover {
  background-color: #ebebeb;
}

.search-bar {
  background-color: #ebebeb;
  width: 220px;
}



.fa-search {
  background-color: #d24740;
  padding: 8px 10px;
  font-size: 18px;
}

/* sticky footer */
.page-row {
  display: table-row;
  height: 1px;
}

.page-row-expanded {
  height: 100%;
}

/* footer */
.footer {
  height: 60px;
  background-color: #0b357b;
  color: #fff;
  margin-top: 40px;
  /*position: absolute;*/
  /*bottom: 0;*/
  /*width: 100%;*/
}

/* user dashboard */
.checkboxcertSelectAll .cert-legend {
  color: #3F51B5; }
.checkboxcertSelectAll .cert-fieldset {
  border-style: solid;
  border-width: 1px;
  height: 100%; }
.checkboxcertSelectAll .cert-select-all-checkboxes {
  padding-left: 30px; }

md-checkbox.md-default-theme.md-checked ._md-icon, md-checkbox.md-checked ._md-icon {
  background: #d24740;
}

/* site wide button styles */

.md-button.md-primary.md-raised {
  background: #d24740;
  box-shadow: none;
  color: #fff;
  margin: 6px 0;
  font-weight:bold
}

.md-button.md-primary.md-raised:not([disabled]):hover {
  background: #ca2c24;
}

md-dialog .md-primary {
  background: #d24740;
}

md-dialog .md-button:not([disabled]) {
  background: #d24740;
}

md-dialog .md-button.md-default-theme.md-primary, .md-button.md-primary {
  color: #fff;
}

.md-button.md-default-theme:not([disabled]):hover, .md-button:not([disabled]):hover {
  background: #ca2c24;
}

#thankYou {
	text-align: center;
}

/* restyle angular material form colors */

/* radio buttons */
md-radio-group:not([disabled]) .md-primary ._md-on {
  background-color: #d24740;
}

md-radio-button:not([disabled]).md-primary.md-checked ._md-off {
  border-color: #d24740;
}

md-checkbox:not([disabled]).md-primary.md-checked ._md-icon {
  background-color: #d24740;
}

md-input-container.md-default-theme label, md-input-container label,
md-input-container.md-default-theme ._md-placeholder,
md-input-container ._md-placeholder, label {
  color: rgba(0,0,0,0.5);
  /*color: #000;*/
}

/* handlerform view styles */
.handler-row, .form-bg {
  padding: 20px 35px;
  background-color: #ebebeb;
  margin: 15px 0;
  border-radius: 5px;
}

.header{
  text-align: center;
}

.terms {
  padding: 20px 40px;
}

.terms li {
  list-style: decimal-leading-zero;
  font-size: 16px;
  margin: 0 0 0 10px;
  font-weight: bold;
  padding: 10px 5px;
  border-bottom: 1px solid #fff;
}

.terms li span {
  font-size: 14px;
  font-weight: normal;
}

/*.terms{
  overflow: scroll;
  height: 400px;
  width: 650px;
  border: solid;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 20px;
}

.conditions{
  padding: 5px;
}*/
