@font-face {
    font-family: 'robotolight';
    src: url('fonts/Roboto-Light-webfont.eot');
    src: url('fonts/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-Light-webfont.woff') format('woff'),
         url('fonts/Roboto-Light-webfont.ttf') format('truetype'),
         url('fonts/Roboto-Light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: 'robotolight', Helvetica, Arial, sans-serif;
}

md-card {
  display: inline-block;
  width: 33%;
  margin-left: 10%;
  margin-right: 10%;
}

md-card:last-child {
  margin-left: 0px;
}

.adminTable, .adminTable td {
  border: 1px solid;
  padding: 3px;
}

h1 {
  color: #0b357b;
}

.footer {
  height: 100px;
  background-color: #0b357b;
  color: #fff;
  text-align: center;
  padding: 40px 0;
}
