html, body {
  /*position: relative;*/
  height: 100%;
  background-color: #fff;
  font-family: 'robotolight', Helvetica, Arial, sans-serif;
}

button, input, select, textarea {
  font-family: 'robotolight', Helvetica, Arial, sans-serif;
}

@font-face {
    font-family: 'robotolight';
    src: url('fonts/Roboto-Light-webfont.eot');
    src: url('fonts/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-Light-webfont.woff') format('woff'),
         url('fonts/Roboto-Light-webfont.ttf') format('truetype'),
         url('fonts/Roboto-Light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: 'robotolight', Helvetica, Arial, sans-serif;
  display: table;
  width: 100%;
}

p {
  font-size: 15px;
  line-height: 23px;
}

.agencies {
  width: 154px;
}

md-content.md-default-theme, md-content {
    background-color: #fff;
}

md-card {
  display: inline-block;
  width: 33%;
  margin-left: 10%;
  margin-right: 10%;
}

md-card:last-child {
  margin-left: 0px;
}

.infoItem:hover {
  background-color: #ececec;
}
.equipment , .equipment:last-of-type{
  margin-left: 13px;
}
#test{
  margin-left: 13px;
}


#adminMain {
  margin: 20px;
}

.confirm{
  color: red;
  font-size: 12px;
}

/* home layout */
.hometron {
  position: relative;
  background-color: #e3e3e3;
  background: #fff url("/images/k9Placeholder.jpg") center center;
  width: 100%;
  height: 100%;
  background-size: cover;
  overflow: hidden;
  padding: 15% 0;
  margin-bottom: 0;
}

.home-col {
  margin-top: 40px;
}

/* user header social media links and login */
.login-nav {
  background-color: #000;
  border-radius: 0px;
}

.logo {
  width: 20%;
}

.login-right {
  float: right;
}

.mission-statement p {
  text-transform: uppercase;
  float: right;
}

.main-nav {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  height: 30%;
  margin: 20px 0;
  text-transform: uppercase;
}

.main-nav ul li a {
  color: #000;
  padding: 7px 30px;
}

.fa {
  color: #fff;
  padding: 14px 5px;
  font-size: 20px;
}

.navbar-inverse .navbar-nav>li>a {
  color: #fff;
  font-weight: bold;
}


.navbar {
  border-radius: 0;
}

.navbar-form {

}

.navbar-form .input-group>.form-control {

}

.navbar-default {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  border-right: 0;
  border-left: 0;
  margin-top: 20px;
  background-color: #fff;
}

.navbar-default .navbar-nav>li>a {
  color: #000;
  font-size: 15px;
}

.navbar-default .navbar-nav>li>a:hover {
  background-color: #ebebeb;
}

.btn-default {
  border-radius: 0;
  padding: 0;
  border: 0;
}

.search-input {
  right: 0;
}

.form-control::-webkit-input-placeholder { color: #000; }
.form-control:-moz-placeholder { color: #000; }
.form-control::-moz-placeholder { color: #000; }
.form-control:-ms-input-placeholder { color: #000; }

.form-control {
  background-color: #ebebeb;
  border-radius: 0;
  border: 0;
  padding: 10px 20px;
  box-shadow: none;
}

.fa-search {
  background-color: #d24740;
  padding: 8px 10px;
  font-size: 18px;
}

/* sticky footer */
.page-row {
  display: table-row;
  height: 1px;
}

.page-row-expanded {
  height: 100%;
}

/* footer */
.footer {
  height: 60px;
  background-color: #0b357b;
  color: #fff;
  margin-top: 40px;
  /*position: absolute;*/
  /*bottom: 0;*/
  /*width: 100%;*/
}

/* user dashboard */
.checkboxcertSelectAll .cert-legend {
  color: #3F51B5; }
.checkboxcertSelectAll .cert-fieldset {
  border-style: solid;
  border-width: 1px;
  height: 100%; }
.checkboxcertSelectAll .cert-select-all-checkboxes {
  padding-left: 30px; }

md-checkbox.md-default-theme.md-checked ._md-icon, md-checkbox.md-checked ._md-icon {
  background: #d24740;
}

/* site wide button styles */

.md-button.md-primary.md-raised {
  background: #d24740;
  box-shadow: none;
  color: #fff;
  margin: 0 10px 0 0;
  font-weight: bold;
  padding: 5px 20px;
}

.md-button.md-primary.md-raised:not([disabled]):hover {
  background: #ca2c24;
}

md-dialog .md-primary {
  background: #d24740;
}

md-dialog .md-button:not([disabled]) {
  background: #d24740;
}

md-dialog .md-button.md-default-theme.md-primary, .md-button.md-primary {
  color: #fff;
}

.md-button.md-default-theme:not([disabled]):hover, .md-button:not([disabled]):hover {
  background: #ca2c24;
}

#thankYou {
	text-align: center;
}

/* restyle angular material form colors */

/* radio buttons */
md-radio-group:not([disabled]) .md-primary ._md-on {
  background-color: #0f439b;
}

md-radio-button:not([disabled]).md-primary.md-checked ._md-off {
  border-color: #0f439b;
}

md-checkbox:not([disabled]).md-primary.md-checked ._md-icon {
  background-color: #0f439b;
}

md-input-container.md-default-theme label, md-input-container label,
md-input-container.md-default-theme ._md-placeholder,
md-input-container ._md-placeholder, label {
  color: rgba(0,0,0,0.5);
  /*color: #000;*/
}

/* handlerform view styles */
.handler-row, .form-bg {
  padding: 20px 35px;
  background-color: #ebebeb;
  margin: 0 0 15px 0;
}

.form-header {
  background-color: #0b357b;
  padding: 10px 35px;
  color: #fff;
  margin: 0;
  font-size: 24px;
}



.header {
  text-align: center;
}

.color-border {
  margin: 15px 0;
  width: 100%;
}

.terms {
  padding: 20px 40px;
}

.terms li {
  list-style: decimal-leading-zero;
  font-size: 16px;
  margin: 0 0 0 10px;
  font-weight: bold;
  padding: 10px 5px;
  border-bottom: 1px solid #fff;
}

.terms li span {
  font-size: 14px;
  font-weight: normal;
}

/* user dash styling */
.status-bar {
  border: 1px solid #e5e5e5;
  padding: 20px 35px;
  margin: 15px 0;
  border-radius: 5px;
}

.file-selected {
  margin: 20px 0;
}

/* application progress tracker */
/* CSS used here will be applied after bootstrap.css */
.app-tracker {
  margin: 20px 0;
  width: 100%;
}

.nav-wizard > li {
  float: left;
}
.nav-wizard > li > a {
  position: relative;
  background-color: #eeeeee;
}
.nav-wizard > li > a .badge {
  margin-left: 3px;
  color: #eeeeee;
  background-color: #d95932;
}
.nav-wizard > li > a .badge.badge-step {
  color: #d95932;
  border: 1px solid #d95932;
  border-radius: 50%;
  padding: 3px 5px;
  background-color: transparent;
}
.nav-wizard > li.active > a .badge.badge-step {
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  padding: 3px 5px;
  background-color: transparent;
}
.nav-wizard > li:not(:first-child) > a {
  padding-left: 34px;
}
.nav-wizard > li:not(:first-child) > a:before {
  width: 0px;
  height: 0px;
  border-top: 20px inset transparent;
  border-bottom: 20px inset transparent;
  border-left: 20px solid #ffffff;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
}
.nav-wizard > li:not(:last-child) > a {
  margin-right: 4px;
}
.nav-wizard > li:not(:last-child) > a:after {
  width: 0px;
  height: 0px;
  border-top: 20px inset transparent;
  border-bottom: 20px inset transparent;
  border-left: 20px solid #eeeeee;
  position: absolute;
  content: "";
  top: 0;
  right: -20px;
  z-index: 2;
}
/*.nav-wizard > li:first-child > a {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}*/
/*.nav-wizard > li:last-child > a {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}*/
.nav-wizard > li.done:hover > a,
.nav-wizard > li:hover > a {
  background-color: #d5d5d5;
}
.nav-wizard > li.done:hover > a:before,
.nav-wizard > li:hover > a:before {
  border-right-color: #d5d5d5;
}
.nav-wizard > li.done:hover > a:after,
.nav-wizard > li:hover > a:after {
  border-left-color: #d5d5d5;
}
.nav-wizard > li.done > a {
  background-color: #e2e2e2;
}
.nav-wizard > li.done > a:before {
  border-right-color: #e2e2e2;
}
.nav-wizard > li.done > a:after {
  border-left-color: #e2e2e2;
}
.nav-wizard > li.active > a,
.nav-wizard > li.active > a:hover,
.nav-wizard > li.active > a:focus {
  color: #ffffff;
  background-color: #d95932;
}
.nav-wizard > li.active > a:after {
  border-left-color: #d95932;
}
.nav-wizard > li.active > a .badge {
  color: #d95932;
  background-color: #ffffff;
}
.nav-wizard > li.disabled > a {
  color: #777777;
}
.nav-wizard > li.disabled > a:hover,
.nav-wizard > li.disabled > a:focus {
  color: #777777;
  text-decoration: none;
  background-color: #eeeeee;
  cursor: default;
}
.nav-wizard > li.disabled > a:before {
  border-right-color: #eeeeee;
}
.nav-wizard > li.disabled > a:after {
  border-left-color: #eeeeee;
}
.nav-wizard.nav-justified > li {
  float: none;
}
.nav-wizard.nav-justified > li > a {
  padding: 10px 15px;
}
@media (max-width: 768px) {
  .nav-wizard.nav-justified > li > a {
    /*border-radius: 4px;*/
    margin-right: 0;
  }
  .nav-wizard.nav-justified > li > a:before,
  .nav-wizard.nav-justified > li > a:after {
    border: none !important;
  }
}
