
<main ng-controller="adminEditController">

  <div class="page-header">
    <h2>{{data.first_name}} {{data.last_name}}, <small>{{data.rank}}</small><md-button class="btn btn-success btn-lg" style="float: right;" ng-click="approveInquiry($event, $index)" type="Button"><strong>Approve</strong></md-button><md-button class="btn btn-danger btn-lg" style="float: right;" ng-click="deleteInquiry($event, $index)" type="Button"><strong>Delete</strong></md-button></h2>
    {{data.status}}
  </div>

  <form editable-form name="userForm" onaftersave="saveUser($index)">

    <!-- Approval Dialogue -->
    <div ng-if="status">
      <div class="{{alertStatus}}" role="alert"><strong>{{status}}<strong></div>
    </div>

    <div>
      <h4><strong>Contact Information</strong></h4>

      <content>
        <span class="infoItem">
          <label>Primary Phone: </label>
            <span editable-text="data.primary_phone"> {{data.primary_phone}} </span>
        </span>
        </br>

        <span class="infoItem">
          <label>Secondary Phone: </label>
            <span editable-text="data.alt_phone"> {{data.alt_phone}} </span>
        </span>
        </br>

        <span class="infoItem">
          <label>Login Email: </label>
            <span editable-text="data.email"> {{data.email}} </span>
        </span>
        </br>

        <span class="infoItem">
          <label>Contact Email: </label>
            <span editable-text="data.contact_email"> {{data.contact_email}} </span>
        </span>
        </br>

        <span class="infoItem">
          <label>Best Contact Time: </label>
            <span editable-text="data.contact_time"> {{data.contact_time}} </span>
        </span>
        </br>

      </content>


      <h4><strong>Address</strong></h4>

      <content>

        <span class="infoItem">
          <label>Street: </label>
            <span editable-text="data.dept_add_street1"> {{data.dept_add_street1}} </span>
        </span>
        </br>

        <span class="infoItem">
          <label>City: </label>
            <span editable-text="data.dept_add_city"> {{data.dept_add_city}} </span>
        </span>
        </br>

        <span class="infoItem">
          <label>State: </label>
            <span editable-text="data.dept_add_state"> {{data.dept_add_state}} </span>
        </span>
        </br>

        <span class="infoItem">
          <label>Zip Code: </label>
            <span editable-text="data.dept_add_zip"> {{data.dept_add_zip}} </span>
        </span>
        </br>

      </content>

    </div>

    <div class="buttons">
      <!-- button to show form -->
      <button type="button" class="btn btn-default" ng-click="userForm.$show()" ng-show="!userForm.$visible">
        Edit
      </button>
      <!-- buttons to submit / cancel form -->
      <span ng-show="userForm.$visible">
        <button type="submit" class="btn btn-primary" ng-disabled="userForm.$waiting">
          Save
        </button>
        <button type="button" class="btn btn-default" ng-disabled="userForm.$waiting" ng-click="userForm.$cancel()">
          Cancel
        </button>
      </span>
    </div>

  </form>

</main>
