
<main ng-controller="adminEditController">

  <div class="page-header">
    <h2>
      {{data.first_name}} {{data.last_name}}, <small>{{data.rank}}</small>

      <md-button class="btn btn-success btn-lg" style="float: right;" ng-click="approveInquiry($event, $index)" ng-show="!userForm.$visible" type="Button"><strong>Approve</strong></md-button>
      <md-button class="btn btn-danger btn-lg" style="float: right;" ng-click="deleteInquiry($event, $index)" ng-show="!userForm.$visible" type="Button"><strong>Delete</strong></md-button>
      <br>
      <br>
    </h2>

    {{data.status}}
    Submission Date: {{data.created|date:"MMM dd, yyyy 'at' h:mma"}}

  </div>

  <form editable-form name="userForm" onaftersave="saveUser($index)">

    <!-- Approval Dialogue -->
    <div ng-if="data.statusAlert">
      <div class="{{alertStatus}}" role="alert"><strong>{{data.statusAlert}}</strong></div>
    </div>

    <div>
      <h4><strong>Authorized Signer Contact Information</strong></h4>

      <content>
        <span class="infoItem">
          <label>Primary Phone: </label>
            <span editable-text="data.primary_phone"> {{data.primary_phone}} </span>
        </span>
        </br>

        <span class="infoItem">
          <label>Secondary Phone: </label>
            <span editable-text="data.alt_phone"> {{data.alt_phone}} </span>
        </span>
        </br>

        <span class="infoItem">
          <label>Login Email: </label>
            <span editable-text="data.email"> {{data.email}} </span>
        </span>
        </br>

        <span class="infoItem">
          <label>Contact Email: </label>
            <span editable-text="data.contact_email"> {{data.contact_email}} </span>
        </span>
        </br>

        <span class="infoItem">
          <label>Best Contact Time: </label>
            <span editable-text="data.contact_time"> {{data.contact_time}} </span>
        </span>
        </br>

      </content>


      <h4><strong>Department Address</strong></h4>

      <content>

        <span class="infoItem">
          <label>Street: </label>
            <span editable-text="data.dept_add_street1"> {{data.dept_add_street1}} </span>
        </span>
        </br>

        <span class="infoItem">
          <label>Additional Street Info: </label>
            <span editable-text="data.dept_add_street2"> {{data.dept_add_street2}} </span>
        </span>
        </br>

        <span class="infoItem">
          <label>City: </label>
            <span editable-text="data.dept_add_city"> {{data.dept_add_city}} </span>
        </span>
        </br>

        <span class="infoItem">
          <label>State: </label>
            <span editable-text="data.dept_add_state"> {{data.dept_add_state}} </span>
        </span>
        </br>

        <span class="infoItem">
          <label>Zip Code: </label>
            <span editable-text="data.dept_add_zip"> {{data.dept_add_zip}} </span>
        </span>
        </br>

      </content>

    </div>

    <!-- button to show form -->
    <md-button type="button" class="btn btn-warning btn-lg" ng-click="userForm.$show()" ng-show="!userForm.$visible">
      <strong>Edit</strong>
    </md-button>
    <!-- buttons to submit / cancel form -->
    <span ng-show="userForm.$visible">
      <md-button type="submit" class="btn btn-primary btn-lg" ng-disabled="userForm.$waiting">
        <strong>Save</strong>
      </md-button>
      <md-button type="button" class="btn btn-warning btn-lg" ng-disabled="userForm.$waiting" ng-click="userForm.$cancel()">
        <strong>Cancel</strong>
      </md-button>
    </span>



  </form>

  <!-- Only visible in applicationTable -->
  <div ng-if='applicationTable'>
    <content>
      <ng-include src="'/views/partials/dogTable.html'"></ng-include>
    </content>
  </div>

</main>
