<div ng-controller="applicationTableController">
  <h3>Active Applications</h3>

  <label>Search: </label>
  <input type="text" ng-model='applicationSearchIn' placeholder="Not coded yet">

  <div class="panel panel-primary">
    <div class="panel-heading">Applications</div>
    <div class="panel-body">
      <table class="table">
        <tr>
          <th>
            ID
          </th>
          <th>
            First Name
          </th>
          <th>
            Last Name
          </th>
          <th>
            Phone
          </th>
          <th>
            E-mail
          </th>
          <th>
            Status
          </th>
        </tr>
        <tr ng-repeat="data in applicationData" ng-click="expandView($index)" data-toggle="modal" data-target=".user-modal">
          <td>
            {{data.id}}
          </td>
          <td>
            {{data.first_name}}
          </td>
          <td>
            {{data.last_name}}
          </td>
          <td>
            {{data.primary_phone}}
          </td>
          <td>
            {{data.email}}
          </td>
          <td>
            {{data.status}}
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="md-padding dialogdemoBasicUsage" id="editUser" ng-cloak="">

</div>
