<div ng-controller="applicationTableController">
  <h3>Active Applications</h3>

  <label>Search: </label>
  <input type="text" ng-model='applicationSearchIn'>
  <br>
  <br>

  <div class="panel panel-primary">
    <div class="panel-heading">Police Department Applications</div>
    <div class="panel-body">

      <table class="table">
        <tr>
          <th>ID</th> <th>Name</th>  <th>Phone</th>  <th>E-mail</th> <th>Status</th>
        </tr>
        <tbody ng-repeat="data in applicationData">
          <tr ng-click="expandView($index)">
            <td>
              {{data.id}}
            </td>
            <td>
              {{data.first_name}} {{data.last_name}}
            </td>
            <td>
              {{data.primary_phone}}
            </td>
            <td>
              {{data.contact_email}}
            </td>
            <td>
              {{data.status_id}}
            </td>
          </tr>

          <tr style="display: none" id="{{ 'expand' + $index }}">
            <td colspan='6'>

              <div class="panel panel-info">
                <div class="panel-heading">
                  <h3 class="panel-title">Department Information</h3>
                </div>
                <div class="panel-body">

                  <div ng-include="'./views/partials/adminTable.html'"></div>

                </div>
              </div>

            </td>
          </tr>
        </tbody>

      </table>
    </div>
  </div>
</div>
