
<main ng-controller="dogEditController">

  <div class="page-header">
    <h2>
      {{dogData.k9_name}}, <small>Loyal Companion</small>
      <md-button class="btn btn-success btn-lg" style="float: right;" ng-click="approveInquiry($event, $index)" ng-show="!dogForm.$visible" type="Button"><strong>Approve</strong></md-button>
      <md-button class="btn btn-danger btn-lg" style="float: right;" ng-click="deleteInquiry($event, $index)" ng-show="!dogForm.$visible" type="Button"><strong>Delete</strong></md-button>
      <!-- button to show form -->
      <md-button type="button" class="btn btn-warning btn-lg" style="float: right;" ng-click="dogForm.$show()" ng-show="!dogForm.$visible">
        <strong>Edit</strong>
      </md-button>
      <!-- buttons to submit / cancel form -->
      <span ng-show="dogForm.$visible">
        <md-button type="submit" class="btn btn-primary btn-lg" style="float: right;" ng-disabled="dogForm.$waiting">
          <strong>Save</strong>
        </md-button>
        <md-button type="button" class="btn btn-warning btn-lg" style="float: right;" ng-disabled="dogForm.$waiting" ng-click="dogForm.$cancel()">
          <strong>Cancel</strong>
        </md-button>
      </span>
      <br>
      <br>
    </h2>
    Submission Date: {{dogData.signed|date:"MMM dd, yyyy 'at' h:mma"}}
  </div>

  <form editable-form name="dogForm" onaftersave="saveDog($index)">

    <!-- Approval Dialogue -->
    <div ng-if="dogData.statusAlert">
      <div class="{{dogAlertStatus}}" role="alert"><strong>{{dogData.statusAlert}}</strong></div>
    </div>

    <div>
      <h4><strong>Handler Contact Information</strong></h4>

      <content>
        <span class="infoItem">
          <label>First Name: </label>
            <span editable-text="dogData.handler_first_name"> {{dogData.handler_first_name}} </span>
        </span>
        </br>

        <span class="infoItem">
          <label>Last Name: </label>
            <span editable-text="dogData.handler_last_name"> {{dogData.handler_last_name}} </span>
        </span>
        </br>

        <span class="infoItem">
          <label>Primary Phone: </label>
            <span editable-text="dogData.handler_cell_phone"> {{dogData.handler_cell_phone}} </span>
        </span>
        </br>

        <span class="infoItem">
          <label>Secondary Phone: </label>
            <span editable-text="dogData.handler_secondary_phone"> {{dogData.handler_secondary_phone}} </span>
        </span>
        </br>

        <span class="infoItem">
          <label>Rank: </label>
            <span editable-text="dogData.handler_rank"> {{dogData.handler_rank}} </span>
        </span>
        </br>

        <span class="infoItem">
          <label>Badge Number: </label>
            <span editable-text="dogData.handler_badge"> {{dogData.handler_badge}} </span>
        </span>
        </br>

        <span class="infoItem">
          <label>Contact Email: </label>
            <span editable-text="dogData.handler_email"> {{dogData.handler_email}} </span>
        </span>
        </br>

      </content>


      <h4><strong>{{dogData.k9_name}}'s Information</strong></h4>

      <content>

        <span class="infoItem">
          <label>Breed: </label>
            <span editable-text="dogData.breed"> {{dogData.breed}} </span>
        </span>
        </br>

        <span class="infoItem">
          <label>Age: </label>
            <span editable-text="dogData.age"> {{dogData.age}} </span>
        </span>
        </br>

        <label>Active Duty: </label>
        <a editable-select="dogData.k9_active_duty" e-ng-options="g.value as g.text for g in bool">
          {{ showStatusDuty() }}
        </a>
        </br>

        <label>Retired: </label>
        <a editable-select="dogData.k9_retirement" e-ng-options="h.value as h.text for h in bool">
          {{ showStatusRetirement() }}
        </a>
        </br>

        <h4><strong>Equipment Specs</strong></h4>

        <h5>Vest Measurements:</h5>
        <span class="infoItem">
          <label>Back: </label>
            <span editable-text="dogData.k9_back"> {{dogData.k9_back}} </span>
        </span>
        </br>

        <span class="infoItem">
          <label>Chest: </label>
            <span editable-text="dogData.k9_chest"> {{dogData.k9_chest}} </span>
        </span>
        </br>

        <span class="infoItem">
          <label>Girth: </label>
            <span editable-text="dogData.k9_girth"> {{dogData.k9_girth}} </span>
        </span>
        </br>

        <span class="infoItem">
          <label>Undercarriage: </label>
            <span editable-text="dogData.k9_undercarriage"> {{dogData.k9_undercarriage}} </span>
        </span>
        </br>

        <span class="infoItem">
          <label>Vest Color: </label>
            <span editable-text="dogData.k9_vest_color"> {{dogData.k9_vest_color}} </span>
        </span>
        </br>

        <span class="infoItem">
          <label>Vest Imprint: </label>
            <span editable-text="dogData.k9_vest_imprint"> {{dogData.k9_vest_imprint}} </span>
        </span>
        </br>


        <h4><strong>Vehicle Specs</strong></h4>
        <span class="infoItem">
          <label>Squad Car Make: </label>
            <span editable-text="dogData.squad_make"> {{dogData.squad_make}} </span>
        </span>
        </br>

        <span class="infoItem">
          <label>Squad Car Model: </label>
            <span editable-text="dogData.squad_model"> {{dogData.squad_model}} </span>
        </span>
        </br>

        <span class="infoItem">
          <label>Squad Car Year: </label>
            <span editable-text="dogData.squad_year"> {{dogData.squad_year}} </span>
        </span>
        </br>

        <label>Squad Car Retirement: </label>
        <a editable-select="dogData.squad_retirement" e-ng-options="j.value as j.text for j in bool">
          {{ showStatusSquad() }}
        </a>
        </br>

      </content>

    </div>

    <h4><strong>Bio:</strong></h4>
    <p>{{dogData.k9_bio}}</p>

  </form>

</main>
