<header role="banner">
  <nav class="navbar navbar-inverse login-nav">
    <div class="container-fluid login-right">
      <ul class="nav navbar-nav" ng-controller="loginController">
        <li><i class="fa fa-facebook" aria-hidden="true"></i></li>
        <li><i class="fa fa-twitter" aria-hidden="true"></i></li>
        <li><i class="fa fa-instagram" aria-hidden="true"></i></li>
        <li><i class="fa fa-google-plus" aria-hidden="true"></i></li>
        <li><a href="/login" ng-show="!isUserLoggedIn" target="_self">Log In</a></li>
        <li><a href="/user/logout" ng-show="isUserLoggedIn" target="_self">Log Out</a></li>
      </ul>
    </div>
  </nav>

  <!-- <div class="container">
    <div class="row">
      <div class="col-md-4">
        <a href="home"><img class="logo" src="images/herok9.svg" alt="Hero K9 Logo"></a>
      </div>
      <div class="col-md-8 mission-statement">
        <p>Ensuring the provision, preparation<br> and protection of public safety K9s</p>
      </div>
    </div>
    <div class="row main-nav">
      <ul class="nav navbar-nav">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Donate</a></li>
        <li><a href="inquiry">Apply</a></li>
        <li><a href="#">Shop</a></li>
        <li><a href="#">Subscribe</a></li>
        <li class="search-bar right"><a href="#">Search</a></li>
        <li><i class="fa fa-search" aria-hidden="true"></i></li>
      </ul>
    </div>
  </div>-->

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <a href="home"><img class="logo" src="images/herok9.svg" alt="Hero K9 Logo"></a>
      </div>
      <div class="col-md-8 mission-statement">
        <p>Ensuring the provision, preparation<br> and protection of public safety K9s</p>
      </div>
    </div>
    <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <!-- <a class="navbar-brand" href="#">Hero K9</a> -->
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="#">HOME</a></li>
            <li><a href="#">ABOUT</a></li>
            <li><a href="#">DONATE</a></li>
            <li><a href="inquiry">APPLY</a></li>
            <li><a href="#">SHOP</a></li>
            <li><a href="#">SUBSCRIBE</a></li>
          </ul>
            <div class="col-sm-3 col-md-3 pull-right">
              <form class="navbar-form" role="search">
                <div class="input-group">
                  <input type="text" class="form-control search-box" placeholder="SEARCH" name="q">
                  <div class="input-group-btn">
                      <button class="btn btn-default search-input" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                  </div>
                </div>
              </form>
            </div>
        </div>
    </nav>
  </div>
</header>
